@{
    ViewData["Title"] = "Gummibear Kingdom ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Gummidom.Models.Product

<html>
<head>
    <title>GUMMIDOM</title>
</head>
<body>

    <div class="alert alert-success">
        <h2>Product Detail</h2>
    </div>


    <hr />
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name) | 
    @Html.DisplayNameFor(model => model.Cost): @Html.DisplayFor(model => model.Cost) | 
    @Html.DisplayNameFor(model => model.CountryOfOrigin): @Html.DisplayFor(model => model.CountryOfOrigin)

    <p>@Html.ActionLink("Back to list", "Index")</p>
</body>
</html>