@{
    ViewData["Title"] = "Gummibear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Gummidom.Models.Product

<html>
<head>
    <title>GUMMIDOM</title>
</head>
<body>

    <div class="alert alert-warning">
        <h2>Edit Product</h2>
    </div>


    <hr />
    <h4>Edit this product : @Html.DisplayFor(model => model.Name)</h4>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ProductId)
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)

        @Html.HiddenFor(model => model.ProductId)
        @Html.LabelFor(model => model.Cost)
        @Html.EditorFor(model => model.Cost)


        @Html.HiddenFor(model => model.ProductId)
        @Html.LabelFor(model => model.CountryOfOrigin)
        @Html.EditorFor(model => model.CountryOfOrigin)


        <input type="submit" value="Save" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>

</body>
</html>